* {
    margin: 0;
}
*,
::after,
::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    display: block;
}
/* for this design only */
body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content:  center;
    align-items: center;
    background-color: rgb(204, 235, 248);
}
/* ######### */
.grid_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'd d jo k'
    'j p p k';
    gap: 1.1rem;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}
.testimonial {
    padding: 1.5rem;
    border-radius: 8px;
}
.head {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.head img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.bio h3 {
    font-size: 15px;
}
.daniel_clifford {
    background-color: #733FC8;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 15%;
    grid-area: d;
    position: relative;
    animation-name: d_animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
@keyframes d_animate {
    0% {
        transform: translateX(-110%);
    }
    100% {
        transform: translateX(0);
    }
}
.daniel_clifford h2 {
    color: #fff;
    font-size: 17px;
    margin: 1rem 0;
}

.daniel_clifford p {
    color: lightgray;
    font-size: 11px;
    line-height: 1.7;
    font-weight: bold;
    margin: 0;
}

.jonathan_walters {
    background-color: #49556B;
    grid-area: jo;
    position: relative;
    animation-name: j_animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
@keyframes j_animate {
0% {
    transform: translateY(-100%);
}
100% {
    transform: translateY(0);
}
}
.jonathan_walters h2 {
    color: #fff;
    font-size: 17px;
    margin: 1rem 0;
}
.jonathan_walters p {
    color: lightgray;
    font-size: 12px;
    line-height: 1.7;
    font-weight: bold;
    margin: 0;
}
.kira_whittle {
    background-color: whitesmoke;
    grid-area: k;
    position: relative;
    animation-name: k_animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
@keyframes k_animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.kira_whittle h2 {
    font-size: 17px;
    margin: 1rem 0;
}
.kira_whittle p {
    font-size: 12px;
    line-height: 1.7;
    font-weight: 600;
    margin: 0;
}
.jeanette_harmon {
    background-color: linen;
    grid-area: j;
    position: relative;
    animation-name: je_animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
@keyframes je_animate {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.jeanette_harmon h2 {
    font-size: 18px;
    margin: 1rem 0;
}
.jeanette_harmon p {
    font-size: 12px;
    line-height: 1.7;
    font-weight: 600;
    margin: 0;
}
.patrick_abrams {
    background-color: #18202D;
    grid-area: p;
    position: relative;
    animation-name: p_animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    transform-origin: center;
}
@keyframes p_animate {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.patrick_abrams h2 {
    font-size: 17px;
    margin: 1rem 0;
    color: #fff;
}
.patrick_abrams p {
    color: lightgray;
    font-size: 12px;
    line-height: 1.7;
    margin: 0;
}
/* media  */
@media (max-width: 768px) {
    .grid_wrapper {
        padding: 1rem;
        grid-template-areas: 
        "d d d d d"
        "jo jo jo jo jo"
        "j j j j j"
        "p p p p p"
        "k k k k k";
    }
}
